<plugin id="com.moldflow.dita.plus-preprocess-breadcrumbs">
  
  <!-- No changes needed? -->

  <feature extension="dita.xsl.maplink" value="xsl/preprocess/maplink.xsl" type="file"/>

  <feature extension="dita.preprocess.maplink.param" value="insert-ant-preprocess-maplink-xslt.xml" type="file"/>

</plugin>
